@font-face {
    font-family: 'BubbleFont';
    src: url("fonts/Bubble.ttf");
}

body{
    background-color: rgb(188, 244, 188);
    text-align: center;
}

h1{
    font-family: BubbleFont;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

 #backButton, #nextButton {
    position: fixed;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 25px;
    font-family: BubbleFont;
    cursor: pointer;

    /* reset browser defaults */
    background: none;
    border: none;
    color: rgb(20, 150, 31); /* text color */
    text-shadow: 2px 2px 4px #000; /* match your h1 style if you like */
}

#nextButton {
    right: 20px; /* bottom-right corner */
}

#backButton {
    left: 20px;  /* bottom-left corner */
}

#homeButton:hover,
#backButton:hover,
#nextButton:hover {
    transition: 0.3s;
    font-size: 35px;
}
