@font-face {
    font-family: 'BubbleFont';
    src: url("fonts/Bubble.ttf");
}

body{
    background-color: pink;
   text-align: center;
   margin-top: 40vh;
}

h1{
    font-family: 'BubbleFont';
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

button{
    background-color: rgb(243, 143, 160);
    border: black solid 2px;
    padding: 10px 20px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: white;
    opacity: 0.8;
    transition: 0.3s;

}
