@font-face {
    font-family: 'BubbleFont';
    src: url("fonts/Bubble.ttf");
}

body{
    background-color: rgb(188, 244, 188);
    text-align: center;
}

h1{
    font-family: BubbleFont;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#redirectButton{
    background-color: rgb(243, 143, 160);
    border: black solid 2px;
    margin-top: 70vh;
    margin-left: 70%;
    padding: 10px 20px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    border-radius: 5px;
}

#backButton{
    background-color: rgb(243, 143, 160);
    border: black solid 2px;
    margin-top: 70vh;
    /* margin-right: 70%; */
    padding: 10px 20px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: white;
    opacity: 0.8;
    transition: 0.3s;

}
